.ImageSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  &__main {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    flex: 0 0 80%;
  }
  &__image {
    width: 100%;
    height: auto;
  }
}