.ImageSlide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  &__main {
    display: flex;
    flex-wrap: nowrap;
  }
  &__item {
    // flex: 0 0 80%;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__sub {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
  }
  &__dot {
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
  }
}