$color-base: #fbf7f3;
$color-main-text: #474747;
$color-link: #878378;
$color-white: #fff;
$color-reverse-line: #fff;
$color-reverse-fill: #252525;
$base-content-width: 1180px;
$space-unit: 20px;
$sp-space-unit: 15px;
$column-space: $space-unit*2;
$color-black: #252525;
$color-gray: #777;
$image-path: "../img/";